.header {
    height:70px;
    background-color: lightcyan;
    color: rgb(120, 70, 20);
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:5px;
    border-color: black;
    border-bottom: 5px;
    margin-bottom: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  .headerButton{
    color: whitesmoke;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 20);
   
  }